a {
    color: #e5e7eb;
    text-decoration: none;
}

body {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    font-family: 'roboto', sans-serif;
    margin: 0;
    min-height: 100vh;
}

footer, header {
    background-color: #1f2937;
    display: flex;
}

footer {
    color: #e5e7eb;
    height: 50px;
    justify-content: center;
    align-items: center;
}

header {
    align-items: center;
    display: flex;
    font-size: 24px;
    height: 75px;
    justify-content: space-between;
    padding: 15px;
}

main {
    color: #1f2937;
    flex: 1;
}

.header-links {
    display: flex;
    font-size: 18px;
    gap: 16px;
    list-style: none;
}